html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px; }
  .wrap .header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #ec5e1c; }
    .wrap .header i {
      width: 10%;
      font-size: 30px; }
  .wrap .main {
    width: 100%;
    flex: 1;
    overflow-y: scroll; }
    .wrap .main .address {
      width: 95%;
      margin: 0 auto; }
      .wrap .main .address .add-ite {
        width: 100%;
        height: 150px;
        background: #fff;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 10px; }
        .wrap .main .address .add-ite .msg {
          width: 100%;
          height: 100px;
          border-bottom: 1px solid #ccc; }
          .wrap .main .address .add-ite .msg .msg-tit {
            display: flex;
            height: 40%;
            align-items: center; }
            .wrap .main .address .add-ite .msg .msg-tit .name {
              font-weight: bold; }
            .wrap .main .address .add-ite .msg .msg-tit .tel {
              margin-left: 20px;
              font-size: 14px; }
          .wrap .main .address .add-ite .msg .pos {
            color: #ccc;
            font-size: 14px; }
        .wrap .main .address .add-ite .edit {
          display: flex;
          height: 50px;
          justify-content: space-between;
          align-items: center; }
          .wrap .main .address .add-ite .edit .set {
            display: flex;
            justify-content: space-between;
            width: 30%; }
            .wrap .main .address .add-ite .edit .set i {
              width: 20px;
              height: 20px;
              border: 1px solid #ccc;
              border-radius: 50%; }
              .wrap .main .address .add-ite .edit .set i.active {
                background: #ec5e1c; }
            .wrap .main .address .add-ite .edit .set span {
              color: #ccc;
              font-size: 16px; }
          .wrap .main .address .add-ite .edit .btns button {
            border-radius: 20px; }
  .wrap .footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrap .footer .add {
      width: 90%;
      height: 40px;
      background: #ec5e1c;
      color: #fff;
      border-radius: 20px; }

.zz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 55, 55, 0.514);
  display: none; }

.confirm {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 150px;
  text-align: center;
  background: #fff;
  display: none; }
  .confirm h1 {
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc; }
  .confirm .cont {
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .confirm .cont span {
      width: 100%;
      color: #ccc;
      font-size: 14px; }
    .confirm .cont button {
      height: 40px;
      width: 60px;
      border-radius: 20px;
      background: #ec5e1c;
      padding: 5px 10px; }
